@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dndflow {
  display: flex;
  height: 100%;
}

aside {
  width: 250px;
  background-color: #f5f5f5;
  padding: 10px;
}

.description {
  font-size: 14px;
  margin-bottom: 10px;
}
